@model ContactoModel  //sirve para utilzar la clase en este formulario
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar Contacto
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Mantededor" method="post">
            <input asp-for="IdContacto" type="hidden" class="form-control">
            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el contacto: @Html.DisplayFor(m=>m.Nombre)?
            </div>
            <button type="submit" class="btn btn-danger">Eliminar</button>

            <a asp-action="Listar" asp-controller="Mantededor" class="btn btn-warning">Volver a la lista </a>
        </form>
    </div>
</div>

